<div class="home-background">
    <div class="menu">
        <header>
            menú
        </header>
    </div>
    <!-- Contenido de tu página de inicio aquí -->

    <div class="title-container">
        <h1 class="title">
            Nuestro OutSourcing, motherFucks!!!
        </h1>
    </div>


    <div class="content-overlay">
        <div style="height: 400px;">
            <!-- Contenido de la sección superpuesta -->
            <p>Contenido scrollable...</p>
            <p>Contenido scrollable...</p>
            <p>Contenido scrollable...</p>
            <!-- Agrega más contenido si es necesario -->
        </div>

        <footer class="footer">
            Calle 1A número <br>
            Contactos: 3163942889 - <br>
            email correomusc&commat;gmail.com
            <!-- Contenido del footer aquí -->
        </footer>
    </div>
</div>